/* Estiliza os elementos principais da página (body e html) */
body, html {
  width: 100%;                /* Usa toda a largura da tela */
  height: 100%;               /* Usa toda a altura da tela */
  font-family: 'Quantico', sans-serif;  /* Define a fonte principal */
  background-color: #B7D2BD;  /* Cor de fundo da página (verde escuro) */
  display: flex;              /* Usa flexbox para centralizar o conteúdo */
  justify-content: center;   /* Centraliza horizontalmente */
  align-items: center;       /* Centraliza verticalmente */
}

.cabecalho {
width: 80%;
position: fixed;     /* fixa no topo da tela */
top: 0;              /* encosta no topo */
right: 0;             /* começa na borda esquerda */  
background-color: rgba(2, 56, 37, 0.84);
height: 80px;        /* altura do retângulo */
z-index: 1000;       /* garante que fique acima dos outros elementos */
}          

/* Retângulo da esquerda (corrigido) */
    .conteudo_esquerda {
      position: fixed;     /* mantém fixo na lateral */
      top: 0;
      left: 0;
      width: 20%;          /* ocupa 20% da largura */
      height: 100%;        /* ocupa 100% da altura da tela */
      background-color: #02432D;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999;        /* um pouco abaixo do cabeçalho */
    }