/* =======================
   PAINEL ESQUERDO
   ======================= */

.painel-esquerdo {
  width: 40%;                  /* Ocupa 40% da largura do conteúdo */
  padding: 20px;
  color: white;                /* Cor do texto */
  text-align: center;
  position: relative;          /* Para posicionar foguete dentro dele */
}


/* Texto motivacional */
.descricao {

  font-family: "pixelify-sans", sans-serif; /* Fonte personalizada */
  font-weight: 800;  /* Peso da fonte */
  font-style: normal; /* Mantém texto normal (sem itálico) */
  font-size: 40px;    /* Tamanho da fonte */
  line-height: 40px;  /* Altura da linha */
  text-align: center; /* Centraliza o texto */
  color: #FFFFFF;     /* Texto branco */
  margin: 0 auto;     /* Centraliza horizontalmente dentro do container */
  width: 570px;       /* Largura fixa (pode aumentar para expandir horizontalmente) */
}


